@import "./custom.scss";

body {
	// background-color: #212223;
	background-color: #494949;
	// color: white;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.app {
	height: 100%;
	display: flex;
	position: relative;
	padding: 0;
	margin: 0;
	main {
		padding: 0;
	}
	// transition: translateZ(0);
}

main {
	padding: 24px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	header {
		margin-bottom: 40px;
		border-bottom: 1px solid #efefef;
		h1 {
			display: flex;
			align-items: center;
			transform: translateX(-20px);
		}
	}

	footer {
		margin-top: auto;
		color: #888;
		text-align: center;
		a {
			text-decoration: none;
			color: #888;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.content {
	width: 100%;
	transition: margin 0.3s;
	@media (max-width: $breakpoint-md) {
		margin-left: 0 !important;
	}
}


h1 {
	font-weight: 600;
}

p {
	font-weight: 500;
}

.bottom-right {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: flex-end;
}

/*
CAROUSEL
*/

.slider-container {
	background-color: $gray-700;
}

// .caro-item {
// 	white-space: nowrap;
// 	// overflow: hidden;
// 	// text-overflow: ellipsis;
// }

.slick-list {
	margin: 0 -5px;
}
.slick-slide {
	overflow: hidden;
	div {
		padding: 0 5px;
	}
	h4 {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	h6 {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
}

.modal-dialog {
	max-width: 500px;
}
.dropleft .dropdown-toggle::before {
	display: none;
}

vl {
	border-left: 1px solid $gray-500;
	margin: 15px 0;
}
