@import "./custom.scss";

body {
	// background-color: #212223;
	background-color: #494949;
	// color: white;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.app {
	padding: 0;
	margin: 0;
	main {
		padding: 0;
	}
	// transition: translateZ(0);
}

.sidebar-logo {
	width: 40px;
}

.sidebar {
	background-color: $gray-300;
	width: 240px;
}

#toggle-collapsed {
	display: flex;
	justify-content: center;

	.pro-inner-item {
		padding: 8px 20px;

		.pro-icon-wrapper {
			margin: 0;
		}
	}
}

.content {
	width: 100%;
	transition: margin 0.3s;
	@media (max-width: $breakpoint-md) {
		margin-left: 0 !important;
	}
}

.welcome-container {
	display: flex;
	flex-direction: column;
	color: $primary;
	user-select: none;

	* {
		transition: all 0.3s;
	}
}

.noselect {
	user-select: none;
}

.clock-container {
	text-align: center;
	background-color: rgba($primary, 0.2);
	border-radius: 1rem;
	padding: 0.8rem 1.4rem;
}

h1 {
	font-weight: 600;
}

p {
	font-weight: 500;
}

.dash-minified {
	h1 {
		font-size: $h1-font-size * 0.5;
		font-weight: 600;
	}

	h2 {
		font-size: $h2-font-size * 0.5;
	}

	h3 {
		font-size: $h3-font-size * 0.5;
	}

	p {
		font-size: 0.9rem;
	}

	.display-3 {
		font-size: $display3-size * 0.8;
	}

	.display-4 {
		font-size: $display4-size * 0.8;
	}

	.clock-container {
		opacity: 0;
		height: 0;
		visibility: hidden;
		transition-delay: 0.2s;

		* {
			font-size: 0;
		}
	}

	.music-container {
		opacity: 0;
		visibility: hidden;
	}

	.btn-primary.btn-sm {
		opacity: 0;
		visibility: hidden;
	}
}

.bottom-right {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: flex-end;
}

.hideDetails {
	@include media-breakpoint-down(md) {
		opacity: 0;
		visibility: hidden;
	}
}

/*
CAROUSEL
*/

.slider-container {
	background-color: $gray-700;
}

// .caro-item {
// 	white-space: nowrap;
// 	// overflow: hidden;
// 	// text-overflow: ellipsis;
// }

.slick-list {
	margin: 0 -5px;
}
.slick-slide {
	overflow: hidden;
	div {
		padding: 0 5px;
	}
	h4 {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	h6 {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
}

.badge {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
