.welcome-container {
	display: flex;
	flex-direction: column;
	color: $light;
	user-select: none;
	overflow: hidden;

	* {
		transition: all 0.3s;
	}

	.music-container{
		transition: none;
	}

}

.noselect {
	user-select: none;
}

.clock-container {
	text-align: center;
	background-color: rgba($primary, 0.2);
	border-radius: 1rem;
	padding: 0.8rem 1.4rem;
}

.dash-minified {
	h1 {
		font-size: $h1-font-size * 0.5;
		font-weight: 600;
	}

	h2 {
		font-size: $h2-font-size * 0.5;
	}

	h3 {
		font-size: $h3-font-size * 0.5;
	}

	p {
		font-size: 0.9rem;
	}

	.display-3 {
		font-size: $display3-size * 0.8;
	}

	.display-4 {
		font-size: $display4-size * 0.8;
	}

	.clock-container {
		opacity: 0;
		height: 0;
		visibility: hidden;
		transition-delay: 0.2s;

		* {
			font-size: 0;
		}
	}

	.music-container {
		opacity: 0;
		visibility: hidden;
	}

	.btn-primary.btn-sm {
		opacity: 0;
		visibility: hidden;
	}
}


.hideDetails {
	@include media-breakpoint-down(xs) {
		opacity: 0;
		visibility: hidden;
	}
}
// .hideDetails {
// 	@include media-breakpoint-down(md) {
// 		opacity: 0;
// 		visibility: hidden;
// 	}
// }