.welcome-container {
	display: flex;
	flex-direction: column;
	color: $light;
	user-select: none;
	overflow: hidden;

	* {
		transition: all 0.3s;
	}

	.music-container {
		transition: none;
	}
}

// .welcome-container::before {
// 	content: ""; // ::before and ::after both require content
// 	position: absolute;
// 	width: auto;
// 	height: auto;
// 	overflow: hidden;
// 	background-image: linear-gradient(120deg, #eaee44, #33d0ff);
// 	opacity: 0.7;
// }

.noselect {
	user-select: none;
}

.dash-minified {
	h1 {
		font-size: $h1-font-size * 0.5;
		font-weight: 600;
	}

	h2 {
		font-size: $h2-font-size * 0.5;
	}

	h3 {
		font-size: $h3-font-size * 0.5;
	}

	p {
		font-size: 0.9rem;
	}

	.display-3 {
		font-size: $display3-size * 0.8;
	}

	.display-4 {
		font-size: $display4-size * 0.8;
	}

	.music-container {
		opacity: 0;
		visibility: hidden;
	}

	.btn-primary.btn-sm {
		opacity: 0;
		visibility: hidden;
	}
}

.hideDetails {
	@include media-breakpoint-down(xs) {
		opacity: 0;
		visibility: hidden;
	}
}
// .hideDetails {
// 	@include media-breakpoint-down(md) {
// 		opacity: 0;
// 		visibility: hidden;
// 	}
// }
